{% extends 'base.html.twig' %}

{% block body %}
    <div class="row g-5">
    <div id="sort-block" class="col-2">
        <p>Сортировка:</p>
        <select id="sort-select" class="form-select">
            <option value="">Не задана</option>
            <option value="author">По авторам</option>
            <option value="name">По названию</option>
            <option value="shortDescription">По описанию</option>
            <option value="publishDate">По дате публикации</option>
        </select>
    </div>
    <div class="flex-container flex-row">
        <div id="filter-block">
            <h2>Фильтр</h2>
            <div class="filter-item">
                <p>Автор</p>
                <select id="author-select" class="form-select">
                    <option value="">Не задан</option>
                    {% for author in authors %}
                        <option value="{{ author.id }}">{{ author.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-item">
                <p>Соавтор</p>
                <select multiple id="co-author-select" class="form-select">
                    <option value="">Не задан</option>
                    {% for author in authors %}
                        <option value="{{ author.id }}">{{ author.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-item">
                <p>Название</p>
                <input type="text" id="name-filter" class="form-control">
            </div>
            <div class="filter-item">
                <p>Краткое описание</p>
                <input type="text" id="desc-filter" class="form-control">
            </div>
            <div class="filter-item">
                <p>Дата публикации (дд.мм.гггг)</p>
                <input type="text" id="date-filter" class="form-control">
            </div>
            <button id="filter-button" class="filter-button btn btn-primary col-12">Поиск</button>
        </div>
        <div id="result-block" class="col-8">
            <ol id="books-block">
                {% for book in books %}
                    <li>{{ book.name }}. {{ book.author.name }}.
                        {% if book.coauthor %}
                            {% for coauthor in book.coauthor %}
                                {{ coauthor.name }}{{ loop.last ? '.' : ',' }}
                            {% endfor %}
                        {% endif %}
                        {{ book.shortDescription }}.
                        {{ book.publishDate|date('d.m.Y') }}.
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <script type="text/javascript">
        let isAdmin = false;
    </script>
{% endblock %}